@import url('./cores.scss');
@import url('./text.scss');

@import url('./materialSymbols.scss');

@import url('./sidebar.scss');
@import url('./main.scss');


body{
    margin:0;
    .App{
        display: grid;
        grid-template: minmax(auto, 5rem) auto / minmax(auto, 5rem) auto;
    }
}